---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();

const lastModified = new Date().toLocaleDateString("en-CA").replaceAll("-", "/");
---

<footer
	class="semibold mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-accent sm:flex-row"
>
	<div class="me-0 font-semibold">
		&copy; {siteConfig.author}
		{year}. <span class="inline-block"> Powered by Astro Citrus</span>
		<span class="mx-2">|</span><span class="inline-block">Last updated: {lastModified}</span>
	</div>
</footer>
