---
import { cn } from "../utils";

interface Props {
  class?: string;
  title: string;
}

const { class: className, title, ...props } = Astro.props;
---

<collapse-component class="group/expand">
  <div
    class={cn("expand-shell rounded-xl border px-3 my-4 sm:px-4", className)}
    {...props}
  >
    <slot name="before" />
    <button
      type="button"
      class="expand-title sticky top-0 z-20 flex w-full cursor-pointer items-center justify-between gap-x-4 py-1.5 text-left sm:py-2"
      aria-expanded="false"
    >
      <p class="m-0 transition-colors">{title}</p>
      <span
        class="expand-button flex shrink-0 items-center justify-center"
        aria-hidden="true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="expand-icon my-1 transition-all duration-300"
        >
          <line x1="5" y1="12" x2="19" y2="12" class="duration-300 ease-in-out"
          ></line>
          <polyline points="12 5 19 12 12 19" class="duration-300 ease-in-out"
          ></polyline>
        </svg>
      </span>
    </button>
    <div
      class="expand-content grid opacity-0 transition-all duration-300 ease-in-out"
    >
      <div class="overflow-hidden">
        <slot />
      </div>
    </div>
  </div>
</collapse-component>

<script>
  class Collapse extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      const expandTitle = this.querySelector(".expand-title");
      expandTitle?.addEventListener("click", () => {
        this.classList.toggle("expanded");
        expandTitle.setAttribute(
          "aria-expanded",
          String(this.classList.contains("expanded")),
        );
      });
    }
  }
  if (!customElements.get("collapse-component")) {
    customElements.define("collapse-component", Collapse);
  }
</script>

<style>
  collapse-component.expanded > .expand-shell,
  collapse-component.expanded > .expand-shell > .expand-title {
    background-color: var(--theme-color-50);
  }
  .expand-title:hover p,
  .expand-title:hover .expand-icon {
    color: var(--theme-accent);
  }
  .expand-icon {
    color: var(--theme-light);
  }
  .expand-content {
    grid-template-rows: 0fr;
  }
  collapse-component.expanded > .expand-shell > .expand-content {
    margin-bottom: 0.75rem;
    opacity: 1;
    grid-template-rows: 1fr;
  }
  collapse-component.expanded > .expand-shell > .expand-title .expand-icon {
    transform: rotate(-90deg);
  }
  @media (min-width: 640px) {
    collapse-component.expanded > .expand-shell > .expand-content {
      margin-bottom: 1rem;
    }
  }
</style>
